/*body{
	background-color: #6FD3F7;
}*/


html, body { margin: 0; padding: 0 }
body { background-color:lightblue;}



#container { display:block; }

@media only screen and (orientation:portrait){
  #container {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (orientation:landscape){
  #container {
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}











/*body { background-image: url("../images/bgSpace.png")}
*/
header{
/*	background-color: whit;
*/	/*background-color: #6FD3F7;*/
	padding-top: 50px;
	padding-bottom:50px;
	max-width:100vw;
	height:90vh;
	/*border-color: green;*/
/*	max-height:100;
*/	text-align: center;
	overflow: hidden;
	/*border-style: solid;*/
    border-bottom: thin solid grey;

}


strong{
	font-weight:bold;
	font-weight: 800;
	font-size: 35px;
}


.section{
	width:100%;
	height:100vh;
	/*border-bottom: thin solid grey;*/

}

/*#face{
	position: absolute;
	
	width:15%;
	margin: 20px;
	left: 3%;
	top:10%;
}*/
#face{
	position: absolute;
	
	width:15%;
	margin: 20px;
	left: 5%;
	top:15%;
}

#about-me-header{
	text-decoration: underline;
	font-size: 40px;
	text-align: center;

}

/*.about-me-text{

	position: relative;
	font-size: 25px;
	width:70%;
	left:24%;

}*/
.about-me-text{

	position: relative;
	/*font-size: 30px;*/
	font-size:2vw;
	width:60%;
	left:28%;

}

#bio-line{
	font-weight: 400;

}

.aboutme{
	position: relative;
	padding-top: 5px;
	background-color: lightblue;
	/*height: 500px;*/
	width:100%;
	
	font-family: Arial Rounded MT Bold;
	border-bottom: thin solid grey;
	border-top: thin solid grey;
	/*overflow: hidden;*/
}

.boldWord{
	font-size:2vw;
}

#gradient{
  background-image:
    linear-gradient(
      lightblue, black
    );
    /*background-color: red;*/
    height: 50px;
}

#game_canvas{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}

#Space_Survival_container{
	padding-top: 1px;
	position: relative;
	background-image: url("../images/bgSpace.png");
	height: 100vh;
	width:100vw;
	text-align: center;
	/*position:absolute;
	left:50%;*/
}

#game-intro{
	background-color: black;
	height:5vh;
	width:100%;
	
	text-align: center;
	font-family: Arial Rounded MT Bold;
	font-size: 2vw;
	color: white;
}
#game-intro2{
	background-color: black;
	height:5vh;
	width:100%;
	
	text-align: center;
	font-family: Arial Rounded MT Bold;
	font-size: 1vw;
	color: white;
}
#game-header{
	text-align: center;
	color:white;
	font-size: 1vw;
	font-family: Arial Rounded MT Bold;
 
}


.myName{
	color:black;
	font-family: 'Lato', sans-serif;
	font-size: 80px;
	/*text-align: center;*/
	margin:0 auto;
	margin-top: 100px;
}

/*Essentially container*/
.navBar{
	font-size: 30px;
	font-weight: 10px;
	margin:0 auto;
}

.navBarItem{

	font-size: 50px;
	/*font-family: "Bitter";*/
	color:black;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.navBarItem:hover{
	font-size: 50px;

	color:blue;
}

.iconContainer{
	position: relative;
	/*background-color:purple;*/
	width:40%;
	height:10%;
	margin:0 auto;
}

.githubI{
	margin-right: 5%;
	width:5%;
	height: 5%
	/*position:absolute;*/
/*	top:15%;
	left:20%;*/
}

.linkedinI{
	margin-right: 5%;
	/*position:absolute;*/
/*	top:15%;
	left:35%;*/
}

.mailI{
	margin-right: 5%;
	/*position:absolute;*/
/*	top:15%;
	left:50%;*/
}

.facebookI{
	/*position:absolute;*/
/*	top:15%;
	left:65%;*/
}

.myface{
	width: 15%;

	position:absolute;
	left:80%;
	transform:rotate(40deg);
}
.earthFlag{
	width: 15%;

	position:absolute;
	left:80%;
	top:10%;
}

.icon{
	height:auto;
	width:auto;

	max-width:100%;
	max-height:100%;
}

.icon:hover{
	transform:scale(1.2);
	/*height:55px;
	width:55px;*/

}


#scrollDown{
position:absolute;
width:100%;
bottom:10%;
text-align: center;
font-family: 'Lato', sans-serif;

}



ul
{
    list-style-type: none;
}













