.projects{
	border-bottom: none;


/*	width:100%;
	height:100vh;*/
}

.project{
	background-color: red;
	border: black solid;
	border-radius: 10px;
	background-size: 100% 100%;
}
.project:hover .proj-info{
	visibility: visible;
}

.proj-info{
	visibility: hidden;
	color: white;
	position: absolute;
	vertical-align: center;
	width:100%;
	height:100%;
	opacity: 0.8;
	background-color: #000066;


}

.proj-text{
	margin-top: 0%;
	margin-right: 1%;
	margin-left:1%;
}

.proj-header{
	position: relative;
	text-align: center;
	margin-top: 2%;
	

	/*top:-5%;*/
}

.proj-description{
	/*padding-top: 0px;*/
	/*background-color: red;*/
	margin-top: -2%;
	margin-right: 1%;
	margin-left:1%;
	font-size: 1.5vw;
	color:white;
}
.proj-bullet{
	font-size: 1.2vw;
	color: gray;
	margin-top: -2%;
	margin-right: 1%;
	margin-left:1%;

	
}

.proj-bullet-ans{
	font-size: 1.3vw;
	color:white;
	margin-top: 0%;
}


.proj1{background-image: url("../images/fly_counter.png");}
.proj2{background-image: url("../images/dd.png");}
.proj3{background-image: url("../images/ss.png");}
.proj4{background-image: url("../images/Density.png");}











.projects-header{
	font-family: Arial Rounded MT Bold;
	text-align: center;
	font-size:40px;
	margin-bottom: 0px;
	text-decoration: underline;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }



.row{
	
	width:100%;
	height:40%;
}

.row1{
	/*background-color: red;*/
	margin-top: 5vh;
	margin-bottom:3vh;
}

.row2{
	/*background-color: green;*/
}

.col{
	position: absolute;
	width:40%;
	height:40%;
	
	/*margin: 10px;*/
	/*margin:5%;*/
}
.col1{
	left:8%;
	/*background-color: yellow;*/

}
.col2{
	/*background-color: orange;*/
	left:52%;
	/*background-color:;*/
}