<!DOCTYPE hmtl>

<html lang="en">

<head>

	<!--The tidbit on the website's tab-->
	<title>Samuel Cohen</title>
	<!-- 16 by 16 pixel icon -->
	<link rel="icon" href="../static/images/favicon.ico"/>

	<!-- Misc.  -->
	<meta charsey="UTF-8">
	<meta name="description" content="Sam Cohen's website">
	<meta name="keywords" content="Sam,Cohen,SamCohen,SamuelLouisCohen,Samuel,Louis,Columbia,Columbia University,Computer Science,cs,programming,programmer,Rockland County,New York,">
	<meta name="author" content="Samuel Cohen">

	<!--Css style sheets-->
	<link rel="stylesheet" type="text/css" href="../static/css/mySiteStyle.css">
	<link rel="stylesheet" type="text/css" href="../static/css/school_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/projects-style.css">


	<!-- Include fonts here -->
	<link href='https://fonts.googleapis.com/css?family=Nunito|Inconsolata|Noto+Serif|Merriweather|PT+Sans+Narrow|Hind|Lato' rel='stylesheet' type='text/css'>

 <!-- run all the javascript stuff -->

	



 	<script src="/js/processing.min.js"></script>
 	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
 	<!-- Flip animation link -->
	<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

</head>


<body>

	<header>
		<h1 class="myName">Samuel Cohen</h1>

		<div class="navBar">

			<h2>
				<a href="#projects" class="navBarItem">Voyager</a> | <a href="#projects" class="navBarItem"><!-- Seeker/ -->Developer<!-- /adventourer/questioner/wonderer/NotBeliveer-seeer?/reader --></a> | <a href="#school" class="navBarItem"> Student</a>
			</h2>
		</div>

		<div class="iconContainer">

			<a href="https://github.com/samlouiscohen"><img src="../static/images/github_logo.png" class="icon githubI"></a>

			<a href="https://www.linkedin.com/in/samlouiscohen"><img src="../static/images/linkedin_logo.png" class="icon linkedinI"></a>

			<a href="mailto:sam.cohen@columbia.edu?Subject= Hey Sam"><img src="../static/images/mail_logo.png" class="icon mailI"></a>

			<a href="https://www.facebook.com/sam.cohen.108"><img src="../static/images/facebook_logo.png" class="icon facebookI"></a>

			

		</div>
		<p id="scrollDown">Scroll Down For Projects</p>

	</header>


	<!--Projects section jump-->
	<a name="projects"></a>

	<div class="projects section">
		<h1 class="projects-header"><a href="https://github.com/samlouiscohen">Some of my projects</a></h1>


		<div class="row row1">

			<div class = " col col1 project proj1">
				<!-- <div>front content</div>
				<div>back content</div> -->
				<div class="proj-info">
					<h1 class="proj-header">"ELE auto-stamper"</h1>
					<p class="proj-description">Wrote both an video-processing script and an accompanying GUI to expidite two key experiments in Rockefeller University's Maimon Labratory of Integrative Brain Function. <!-- Worked on a image processing application using Matlab --></p>

					<p class="proj-bullet">Key features:<span class="proj-bullet-ans"> Created an updating background-subtraction algorthim, intuitive and effective GUI for quick testing of false positives</span></p>

					<p class="proj-bullet">Team size:<span class="proj-bullet-ans"> 1</span></p>
					<p class="proj-bullet">Technologies used: <span class="proj-bullet-ans">Matlab & Computer Vision System Toolbox </span></p>

				</div>
			</div>



			<div class = "col col2 project proj2">
				<a href="#space">
				<a href="https://itunes.apple.com/us/app/space-survival/id1144188178?mt=8">
				<div class="proj-info">					
					<h1 class="proj-header">"Void Voyager"</h1>
					<p class="proj-description">Void Voyager is an iPhone game that I built over the summer of 2016.<p>

					<p class="proj-bullet">Key features: <span class="proj-bullet-ans">Designed a variety of alien species, multiple power-ups, and even a boss level to spice things up</span></p>

					<p class="proj-bullet">Key features: <span class="proj-bullet-ans">Built an interactive tutorial to teach new users how to play</span></p>

					<p class="proj-bullet">Team size: <span class="proj-bullet-ans">1</span></p>

					<p class="proj-bullet">Technologies used: <span class="proj-bullet-ans">Swift and the SpriteKit framework</span> </p>
				</div>
				</a>
				</a>
			</div>

			

		</div>

		<!-- <div class="row row2">
			<div class = "col col1 project proj3">
				<a href="#space">
				<div class="proj-info">					
					<h1 class="proj-header">"Space Survival"</h1>
					<p class="proj-description">My very first coding project that I worked on in my free-time throughout my Junior year of Highschool. <p>

					<p class="proj-bullet">Key features: <span class="proj-bullet-ans">Designed a variety of alien species, multiple power-ups, and even a boss level to spice things up</span></p>

					<p class="proj-bullet">Team size: <span class="proj-bullet-ans">1</span></p>

					<p class="proj-bullet">Technologies used: <span class="proj-bullet-ans">Processing.js; all sprites rendered in-house</span> </p>
				</div>
				</a>
			</div>
			<div class = "col col2 project proj4"> -->
		<div class="row row2">
			<div class = "col col1 project proj3">
				<div class="proj-info">

					<h1 class="proj-header">"Smells Gud"</h1>
					<p class="proj-description"> Developed at University of Pennsylvania's "Penn Apps", Smells Gud is a webapp that sends users dining hall reccomendations based on their given dietary preferences.</p>
					<p class="proj-bullet">Key features: <span class="proj-bullet-ans"> Built a web scraper to collect live information about Columbia's three main dining halls. Allows users to input both favorite foods and also dietary restrictions (Vegetarian, Glutan-free)
					<p class="proj-bullet">Team size: <span class="proj-bullet-ans">2</span></p>
					<p class="proj-bullet">Technologies used: <span class="proj-bullet-ans">Python, Flask, HTML/CSS/Javascript, SQLite, Beautiful Soup & Requests (for web-scraping)</span> </p>

				</div>
			</div>

			<div class = "col col2 project proj4">
				<div class="proj-info">					
					<h1 class="proj-header">"Density"</h1>
					<p class="proj-description">Built by Columbia's ADI Labs. Our team both improved the front end, and also began working on implementing machine learning techniques in an effort to provide users with density predictions.<p>
					<p class="proj-bullet">Key features: <span class="proj-bullet-ans">Implemented basic machine learning techniques such as linear regression. Improved UI with new tabs and formatted prediction graphs</p>
					<p class="proj-bullet">Team size: <span class="proj-bullet-ans">4</span></p>
					<p class="proj-bullet">Technologies used: <span class="proj-bullet-ans">Python, Flask, HTML/CSS/Javascript, Pandas, NumPy</span></p>


				</div>

				<!-- <p class="proj-info">Smells Gud Project</p> -->
			</div>
		</div>

<!-- 		<p>Check out https://github.com/samlouiscohen for more</p> -->

	</div>


	<div class="aboutMe section">

		
		<img src="../static/images/myFace.png" id="face">
		<h2 id="about-me-header">About me</h2>
		<div class="about-me-text">
			<!-- <h2 id="about-me-header">About me</h2> -->


			<!-- <p class="bio-line">Each letter of my name corresponds to something I like, am interested in, enjoy, play, do, support, ect.</p>

			<p class="bio-line">s:Space, my telescope - brief story of seeing the gravitational symmetry or the brightest star that was really a planet</p>
			<p class="bio-line">a: Aliens, extraterestrials</p>
			<p class="bio-line">m: Machine learning, and what I've done- NN classifer, or maybe just talk about Alpha go to chess players to cancer detection ect.</p>
			<p class="bio-line">u: Undergradtuate,university</p>
			<p class="bio-line">e: Engineer, Evolution, Earth- global warming (emergency, Emissions), economy-interests in banking consulting ect.</p>
			<p class="bio-line">l: Liberal, language?</p> -->

			<p class="bio-line">Hey there! My name is <strong class="boldWord">Sam</strong>. If you want to learn a little bit more about me, then you've come to the right place! Where to begin...</p>

			<p class="bio-line">I'm a <!-- <strong>huge</strong> --> science fanatic<!-- (everything from evolutionary biology to systems programming) -->, a soccer player, a track runner, a lover of all things Xbox, a vegetarian, a tree hugger, and a star gazer. Currently, I'm a Junior at <strong class="boldWord">Columbia University</strong> studying <strong class="boldWord">Computer Engineering</strong> with a possible minor in Entreprenourship & innovation.</p>


			<p class="bio-line">Feel free to <a href="mailto:sam.cohen@columbia.edu?Subject= Hey Sam"> reach out</a><!-- reach out --> if you'd like to discuss opportunities in software engineering or research. I'm also always interested in a good chat- whether it be about the eventual eutopia, or dystopia, resulting from intelligent machines, the afterlife, or lack there of, the possiblity and implications of alien life, or really anything else that's new and exciting.<!-- - you can reach me <a href="mailto:slc2206@columbia.edu?Subject= Hey Sam"> here</a> --></p>






			<!-- <p class="bio-line">I'm a <strong>huge</strong> science geek, a soccer player, a track runner, a lover of all things Xbox, a tree hugger, and a star gazer. Currently, I'm a sophomore at <strong>Columbia University</strong> studying <strong>Computer Engineering</strong> with a possible minor in Entreprenourship & innovation.</p> -->
<!-- 
			<p class="bio-line">Currently, I'm a sophomore at <strong>Columbia University</strong> studying <strong>Computer Engineering</strong> with a possible minor in Entreprenourship & innovation.</p> -->

			<!-- I'm excited to keep learning -->


			<!-- Our world amazes me everyday - Look in my telescope and see the the perfection of the gravitational symmetries of Jupiters moons, to the incredible complexity arising from simplicity- alienesk creatures produced by evolution
 -->

			<!-- <p class="bio-line">From the biologies of the creatures lurking in the depths of our oceans, to the gravitational symmetries of the ocean-holding moons of Jupiter, I've always been facinated with our world and I want to make my mark. </p> -->

	<!-- 		<p class="bio-line">I've always been facinated with our world - from the biologies of the creatures lurking in the depths of our oceans, to the gravitational symmetries of the ocean-holding moons of Jupiter - and I want to make my mark. </p>
 -->
 		<!-- 	<p class="bio-line">I'm also incredibly interested in artificial intelligence. AI offers unparalled opportunity, from producing self-driving cars, to coding the world's best Go player and in time maybe even the world's best doctor, there seem to be few, if any, problems that AI wont evenetually be able to solve. As of now, I see myself exploring this field. -->

			<!-- <p class="bio-line">I see machine learning as the future solution to just about every imaginable problem. From creating self-driving cars, to programming the world's best doctors, artifical intellginece offers unparalleled opportunity. As of now, I see myself focusing in this field.</p> -->

			<!-- <p class="bio-line">Feel free to reach out if you'd like to discuss possible opportunities in software engineering or research. I'm also always interested in a good chat- whether it be about the eventual eutopia, or dystopia, resulting from intelligent machines, the afterlife, or lack there of, the possiblity of alien life, or really anything else that's new and exciting- you can reach me <a href="mailto:slc2206@columbia.edu?Subject= Hey Sam"> here</a>.</p> -->

			

<!-- 
897sd8sad098f7s8d7gf809s7dg89sd7g897sd890g7s89d7fg980sd7fg980sd-->
			<!-- <p class="bio-line">Ever since I can remember I've been a science geek- abandoning netflix in favor of Wired, creating video games when I wasn't playing them, and spending hours staring at the planets through my telescope. </p>

			<p class="bio-line">I've always been facinated with our world - from the biologies of the creatures lurking in the depths of our oceans, to the gravitational symmetries of the ocean-holding moons of Jupiter - and I want to make my mark. </p>
 -->
			<!--////////-->

			  <!-- when I wasn't playing them. While I wasn't sure what path I wanted to take, it was only after my Freshman summer internship, when I wrote a Matlab Script to automate one of my jobs at Rockefeller University, that I finally appricaited the power of computer science.

			<p class="bio-line">I've always been facinated with our world - from the biologies of the creatures lurking in the depths of our oceans, to the gravitational symmetries of the ocean-holding moons of Jupiter - and I want to make my mark. </p>

 -->






<!-- 
			<p class="bio-line">While I had originally started studying Aerospace Engineering, soon started playing around with Processing.js and before long I had my own video game. However, it was only when I interned last summer at <strong>Rockefeller University</strong> that I discovered the power and freedom affored by computer science.</p>
			<p class="bio-line">I was was able to automate my job with a couple scripts that I wrote and the rest was history - I soon switched majors to Comp Sci.</p>

 -->



				<!-- I quickly discovered the power and freedom affored by computer science when I made my first 'video game'-link-, and then was soon able to automate my job at my last internship at <strong>Rockefeller University</strong>. and I've been hooked ever since</p> -->

			<!-- <p class="bio-line">I've always been facinated with our world - from the biologies of the creatures lurking in the depths of our oceans, to the gravitational symmetries of the ocean-holding moons of Jupiter - and I want to make my mark. </p>



			<p class ="bio-line"> Hey there! My name is <strong>Sam</strong>. Hopefully you'll learn a little bit more about me, and maybe I'll even learn a little bit about <a href="mailto:slc2206@columbia.edu?Subject= Hey Sam, lets chat">you.</a></p>
			<p>Love playing soccer, xbox, Settlers of Catan, I'm a vegetarian and a tree hugger</p>
			<p>I'm currently a sophmore at <strong>Columbia University</strong> studying <strong>Computer Science</strong> with a possible minor in <strong>Philosophy</strong> or <strong>Entreprenourship and Innovation</strong>.</p>

			<p class ="bio-line">From the alienesk creatures lurking in the depths of Earth's oceans, to the the mezmerizing symmetry of Jupiter's ocean-holding moons, I am constantly facinated by the world that we live in, and I want to make my mark on it. 
			</p>
			<p class ="bio-line">From the alienesk creatures lurking in the depths of Earth's oceans, to the the mezmerizing symmetry of Jupiter's ocean-holding moons, the world's a REALLY cool place, and I want to: take it all in /make my mark on it. 

			

			</p>
			<p class ="bio-line"> I've always loved <strong>science</strong> and upon entering college I first decided to study <strong>aerospace engineering</strong>. However, I was soon drawn to <strong>computer science</strong> because of the limitless ability to convert ideas into reality with little to no capital or start-up cost.</p>



			<p class ="bio-line"> Conoscour of the fine arts, a lover of mathmatics, an eye for practality, and an explorer at heart. </p>

			<p class ="bio-line"> Some of my favorite authors/books are: </p>
			<p class ="bio-line"> Some of my favorite internet presences are: John Oliva, VSauce,</p>
			<p class ="bio-line"> Some of my favorite sports/athletes </p>
			<p class ="bio-line"> Some of my hobbies include: scanning the sky for distant nebula and the ocasional alien ship my Dobsonian XT10 SkyQuest telescope. </p>


			<p>I'm currently a sophmore at <strong>Columbia University</strong> studying Computer Science with a possible minor in philosophy or Entreprenourship and Innovation.</p> -->
<!-- 

			
			<p class ="bio-line">I'm currently a sophmore at <strong>Columbia University</strong> studying Computer Science.</p>

			

			<p>Hey there! My name is <strong><span style="color:red">Sam</span></strong>, and I like <span style="color:green">Green Eggs and Ham</span></p>
			<p>I'm currently a sophmore at <strong>Columbia University</strong>. I'm studying <strong>computer engineering</strong>.</p>
			
			<p>I'm amazed everyday by our world, whether it be witnessing the alienesk creatures in the depths of our oceans or the mezmerizing symmetry of the ocean-holding moons of Jupiter</p>
			<p>Space(Telescope, symmetries of juipters many moons), books-like, sports, </p>

			<p>Here are some of my favorite books, shows, Vsauce, Vertrasim, and favoirte people: Darwin, dworkin, Dawkins, Einstien</p> -->

		</div>
	</div>


	<!--School section jump-->
	<a name="school"></a>
	<!-- <p>up</p> -->
	<div class="school_container container section">

		<h2 class="education-header">Education</h3>


<!-- 
		<div class="psu aYear">
			<h4 id="psu_header">Pennsylvania State</h4>
			<ul>
			<li>Introduction to Aerospace Engineering</li>
			<li>Physics I (Mechanics)</li>
			<li>Calculus with Analytical Geometry (II)</li>
			<li>University Writing</li>
			<li>Philosophical Critical Thinking</li>


			<li>Engineering Design</li>
			<li>Calculus with Analytical Geometry (I)</li>
			<li>Introduction to Programming Techniques (C++)</li>
			<li>General Chemistry</li>
			<li>Philosophy, Politics, and Social Theory</li>

			</ul>
		</div> -->

		<div class="columbia">
			<h4 id="columbia_header">Columbia University</h4>
				<img src="../static/images/cu_image.png" class="cu_pic">
				
				

				<div class="course_work" >
					
					<div class="soph_courses aYear">
<!-- 						<h3 class="soph-courses-header">Sophmore Year Courses</h3> -->
						<h3 class="soph-courses-header">2015-2016</h3>
						<ul>
						<li>Discrete Mathematics</li>
						<li>Data Structures</li>
						<li>Contemporary Civilizations of the West I</li>
						<li>Contemporary Civilizations of the West II</li>
						<li>Calculus III</li>
						<li>Physics II</li>
						<li>Fundamentals of Computer Systems</li>
						<li>Introduction to Electrical Engineering</li>
						<li>Principles of Economics (Macro & Micro) </li>
						<li>Computer Science for Engineers (Python)</li>
						
						</ul>
					</div>
				
					<div class="junior-courses aYear">
<!-- 						<h3 class="junior-courses-header">Junior Year Courses</h3> -->
						<h3 class="junior-courses-header">2016-2017</h3>
						<ul>
						<li>Advanced Programming (C/C++/UNIX)</li>
						<li>Masterpieces of Western Art</li>
						<li>Computer Science Theory</li>
						<li>Probablity and Statistics</li>
						
						
						
						<li>Linear Algebra</li>
						

						<li>TBA</li>
						<li>TBA</li>
						<li>TBA</li>
						<li>TBA</li>
						<li>TBA</li>
						</ul>
					</div>


		
					<!-- <div class="Columbia-Organizations">
						<h3>Involvment/Societies/Organizations</h3>
						<ul>	
						<li>ADI Labs</li>



						</ul>

					</div> -->
					<!-- <div id="soph_orginizations">
						<h3 class="orginizations">Originizations</h3>
						<ul>
						<li><a href="https://adicu.com/labs">ADI Labs</a></li>
						<li>Columbia Space Initiative</li>
						<li>Beta Theda Pi</li>
						</ul>
					</div> -->
				</div>

			<p id="Columbia-Involvement"> 
				<span id="CI-header">Organizations</span>: 
				<a href="ADI@cu.com" class="CI-link">ADI Labs</a>, 
				<a href="Columbia space iniitiaitve" class="CI-link">Columbia Space Initiative</a>, 
				IM Soccer Captain
			</p>

		</div>

	</div>


	



	<div id ="gradient"></div>
	<div id="game-intro">

	While you're here, take a load off and play a game!

	<div>

	<a name="space" "explorer" "Astronout"></a>
	<!--Video game stuff-->
	<a name="games"></a>

	<div id="Space_Survival_container">
		<!-- <h3>Games</h3> -->

<!-- 		<h1 id="game-header">While you're here,</h1>
		<h1 id="game-header">take a load off and play a game that I wrote a couple years back!</h1> -->



		<!-- <img src="../static/images/myface.png" class="myface"> -->
		<img src="../static/images/EarthFlag.png" class="earthFlag">

 		<canvas data-processing-sources="/js/Space_Survival.js" id="game_canvas"></canvas>
	</div>


</body>

</html>





















<!-- *My geo-political statement (Flag of the world)* -->






