<!DOCTYPE hmtl>

<html lang="en">

<head>

	<!--The tidbit on the website's tab-->
	<title>Samuel Cohen</title>
	<!-- 16 by 16 pixel icon -->
	<link rel="icon" href="myicon.ico"/>

	<!-- Misc.  -->
	<meta charsey="UTF-8">
	<meta name="description" content="Sam Cohen's website">
	<meta name="keywords" content="Sam,Cohen,SamCohen,SamuelLouisCohen,Samuel,Louis,Columbia,Columbia University,Computer Science,cs,programming,programmer,Rockland County,New York,">
	<meta name="author" content="Samuel Cohen">

	<!--Css style sheets-->
	<link rel="stylesheet" type="text/css" href="../static/css/mySiteStyle.css">
	<link rel="stylesheet" type="text/css" href="../static/css/school_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/projects-style.css">


	<!-- Include fonts here -->
	<link href='https://fonts.googleapis.com/css?family=Nunito|Inconsolata|Noto+Serif|Merriweather|PT+Sans+Narrow|Hind|Lato' rel='stylesheet' type='text/css'>

 <!-- run all the javascript stuff -->
 	<script src="/js/processing.min.js"></script>

</head>


<body>

	<header>
		<h1 class="myName">Samuel Cohen</h1>

		<div class="navBar">

			<h2>
				<a href="#projects" class="navBarItem">Developer</a> | <a href="#games" class="navBarItem">Philosopher</a> | <a href="#school" class="navBarItem"> Student</a>
			</h2>
		</div>

		<div class="iconContainer">

			<a href="https://github.com/samlouiscohen"><img src="../static/images/git_hub3.png" class="icon githubI"></a>

			<a href="https://www.linkedin.com/in/samlouiscohen"><img src="../static/images/linkedin3.png" class="icon linkedinI"></a>

			<a href="mailto:slc2206@columbia.edu?Subject= Hey Sam"><img src="../static/images/mail5.png" class="icon mailI"></a>

			<a href="https://www.facebook.com/sam.cohen.108"><img src="../static/images/facebookLogo.png" class="icon facebookI"></a>

		</div>

	</header>

	<div class="aboutMe section">

		
		<img src="../static/images/myface2.png" id="face">
		<div class="about-me-text">
			<h2 id="about-me-header">About me</h2>
			<p class ="bio-line"> Hey there! My name is <strong>Sam</strong>. Hopefully you'll learn a little bit more about me, and maybe I'll even learn a little bit about <a href="mailto:slc2206@columbia.edu?Subject= Hey Sam, lets chat">you.</a></p>

			<p>I'm currently a sophmore at <strong>Columbia University</strong> studying <strong>Computer Science</strong> with a possible minor in <strong>Philosophy</strong> or <strong>Entreprenourship and Innovation</strong>.</p>

			<p class ="bio-line">From the alienesk creatures lurking in the depths of Earth's oceans, to the the mezmerizing symmetry of Jupiter's ocean-holding moons, I am constantly facinated by the world that we live in, and I want to make my mark on it. 
			</p>
			<p class ="bio-line">From the alienesk creatures lurking in the depths of Earth's oceans, to the the mezmerizing symmetry of Jupiter's ocean-holding moons, the world's a REALLY cool place, and I want to: take it all in /make my mark on it. 

			

			</p>
			<p class ="bio-line"> I've always loved <strong>science</strong> and upon entering college I first decided to study <strong>aerospace engineering</strong>. However, I was soon drawn to <strong>computer science</strong> because of the limitless ability to convert ideas into reality with little to no capital or start-up cost.</p>



			<p>------------</p>

			<p class ="bio-line"> Conoscour of the fine arts, a lover of mathmatics, an eye for practality, and an explorer at heart. </p>

			<p class ="bio-line"> Some of my favorite authors/books are: </p>
			<p class ="bio-line"> Some of my favorite internet presences are: John Oliva, VSauce,</p>
			<p class ="bio-line"> Some of my favorite sports/athletes </p>
			<p class ="bio-line"> Some of my hobbies include: scanning the sky for distant nebula and the ocasional alien ship my Dobsonian XT10 SkyQuest telescope. </p>


			<p>I'm currently a sophmore at <strong>Columbia University</strong> studying Computer Science with a possible minor in philosophy or Entreprenourship and Innovation.</p>
<!-- 


			<p class ="bio-line">I'm currently a sophmore at <strong>Columbia University</strong> studying Computer Science.</p>

			

			<p>Hey there! My name is <strong><span style="color:red">Sam</span></strong>, and I like <span style="color:green">Green Eggs and Ham</span></p>
			<p>I'm currently a sophmore at <strong>Columbia University</strong>. I'm studying <strong>computer engineering</strong>.</p>
			
			<p>I'm amazed everyday by our world, whether it be witnessing the alienesk creatures in the depths of our oceans or the mezmerizing symmetry of the ocean-holding moons of Jupiter</p>
			<p>Space(Telescope, symmetries of juipters many moons), books-like, sports, </p>

			<p>Here are some of my favorite books, shows, Vsauce, Vertrasim, and favoirte people: Darwin, dworkin, Dawkins, Einstien</p> -->

		</div>
	</div>


	<!--School section jump-->
	<a name="school"></a>
	<!-- <p>up</p> -->
	<div class="school_container container section">

		<h2 class="education-header">Education</h3>


<!-- 
		<div class="psu aYear">
			<h4 id="psu_header">Pennsylvania State</h4>
			<ul>
			<li>Introduction to Aerospace Engineering</li>
			<li>Physics I (Mechanics)</li>
			<li>Calculus with Analytical Geometry (II)</li>
			<li>University Writing</li>
			<li>Philosophical Critical Thinking</li>


			<li>Engineering Design</li>
			<li>Calculus with Analytical Geometry (I)</li>
			<li>Introduction to Programming Techniques (C++)</li>
			<li>General Chemistry</li>
			<li>Philosophy, Politics, and Social Theory</li>

			</ul>
		</div> -->

		<div class="columbia">
			<h4 id="columbia_header">Columbia University</h4>
				<img src="../static/images/cu_image.png" class="cu_pic">
				
				

				<div class="course_work" >
					
					<div class="soph_courses aYear">
<!-- 						<h3 class="soph-courses-header">Sophmore Year Courses</h3> -->
						<h3 class="soph-courses-header">2015-2016</h3>
						<ul>
						<li>Discrete Mathematics</li>
						<li>Data Structures</li>
						<li>Contemporary Civilizations of the West II</li>
						<li>Physics II</li>
						<li>Fundamentals of Computer Systems</li>

						<li>Calculus III</li>
						<li>Introduction to Electrical Engineering</li>
						<li>Principles of Economics (Macro & Micro) </li>
						<li>Computer Science for Engineers (Python)</li>
						<li>Contemporary Civilizations of the West I</li>
						</ul>
					</div>
				
					<div class="junior-courses aYear">
<!-- 						<h3 class="junior-courses-header">Junior Year Courses</h3> -->
						<h3 class="junior-courses-header">2016-2017</h3>
						<ul>
						<li>Advanced Programming</li>
						<li>Computer Science Theory</li>
						<li>Masterpieces of Western Art</li>
						<li>Linear Algebra</li>
						<li>Probablity and Statistics (Calculus IV)</li>

						<li>TBA</li>
						<li>TBA</li>
						<li>TBA</li>
						<li>TBA</li>
						<li>TBA</li>
						</ul>
					</div>


		
					<!-- <div class="Columbia-Organizations">
						<h3>Involvment/Societies/Organizations</h3>
						<ul>	
						<li>ADI Labs</li>



						</ul>

					</div> -->
					<!-- <div id="soph_orginizations">
						<h3 class="orginizations">Originizations</h3>
						<ul>
						<li><a href="https://adicu.com/labs">ADI Labs</a></li>
						<li>Columbia Space Initiative</li>
						<li>Beta Theda Pi</li>
						</ul>
					</div> -->
				</div>

			<p id="Columbia-Involvement"> 
				<span id="CI-header">Organizations</span>: 
				<a href="ADI@cu.com" class="CI-link">ADI Labs</a>, 
				<a href="Columbia space iniitiaitve" class="CI-link">Columbia Space Initiative</a>, 
				IM Soccer Captain
			</p>

		</div>

	</div>


	<div class="projects section">
		<h1 class="projects-header">My Projects</h1>


		<div class="row row1">
			<div class = "col1 project proj1"></div>
			<div class = "col2 project proj2"></div>
		</div>

		<div class="row row2">
			<div class = "col1 project proj3"></div>
			<div class = "col2 project proj4"></div>
		</div>



	</div>



	<div id ="gradient"></div>

	<a name="space" "explorer" "Astronout"></a>
	<!--Video game stuff-->
	<a name="games"></a>

	<div id="Space_Survival_container">
		<h3>Games</h3>

	
		<img src="../static/images/myface.png" class="myface">

 		<canvas data-processing-sources="/js/Space_Survival.js" id="game_canvas"></canvas>
	</div>


</body>

</html>





















			<!--
			<ul></ul>

				<li>My name is Samuel Louis Cohen</li>
				<li>I'm currently (Insert an updated age, my birthday is here- and my half birthday is here.
					Or better yet- its been x days since I transfered, x days since I first started coding
					x days since my first programming class
				</li>


				<li>I'm a big soccer fan- favorite clip of a goal</li>

				<li> I'm currently a sophmore at columbia unievrsity in the city of new york
					-some tid bit bullshit about school
				</li>
				<li>
					I love space and robots- show video of grav waves and maybe this is my favorite video of all time- atlas falling and getting up
				</li>


				<li>
					*My geo-political statement (Flag of the world)*

				</li>
		</div>

		-->


<!-- 		<p>hello</p>
 -->




