<!DOCTYPE hmtl>

<html lang="en">

<head>

	<!--The tidbit on the website's tab-->
	<title>Samuel Cohen</title>
	<!-- 16 by 16 pixel icon -->
	<link rel="icon" href="myicon.ico"/>

	<!-- Misc.  -->
	<meta charsey="UTF-8">
	<meta name="description" content="Sam Cohen's website">
	<meta name="keywords" content="Sam,Cohen,SamCohen,SamuelLouisCohen,Samuel,Louis,Columbia,Columbia University,Computer Science,cs,programming,programmer,Rockland County,New York,">
	<meta name="author" content="Samuel Cohen">

	<!--Css style sheets-->
	<link rel="stylesheet" type="text/css" href="../static/css/mySiteStyle.css">


	<!-- Include fonts here -->
	<link href='https://fonts.googleapis.com/css?family=Nunito|Inconsolata|Noto+Serif|Merriweather|PT+Sans+Narrow|Hind|Lato' rel='stylesheet' type='text/css'>


	<!-- 	Include processing.js for space survival -->

 <!-- run all the javascript stuff -->
 <script src="processing-1.3.6.min.js"></script> <!-- Include the processing.js commands -->
 <script src="Space_Survival.js"></script> <!-- The actual source code for your program -->
 <script type="application/javascript">
  var canvas = document.getElementById("mycanvas"); //get the canvas that processingjs will use
  var processingInstance = new Processing(canvas, sketchProc); //pass the function sketchProc (defined in myCode.js) to Processing's constructor.
 </script>



</head>


<body>
<!-- 
	<canvas data-processing-sources="myProgram.pde"></canvas>
<canvas id="myCanvas"></canvas> -->
	<header>
		<h1 class="myName">Samuel Cohen</h1>

		<div class="navBar">

			<h2>
				<a href="#projects" class="navBarItem">Developer</a> | <a href="#projects" class="navBarItem">Philosopher</a> | <a href="#school" class="navBarItem"> Student</a>
			</h2>
		</div>

		<div class="iconContainer">

			<a href="https://github.com/samlouiscohen"><img src="../static/img/githubLogo.png" class="icon githubI"></a>

			<a href="https://www.linkedin.com/in/samlouiscohen"><img src="../static/img/linkedinLogo.png" class="icon linkedinI"></a>

			<a href="mailto:slc2206@columbia.edu?Subject= Hey Sam"><img src="../static/img/mailLogo.png" class="icon mailI"></a>

			<a href="https://www.facebook.com/sam.cohen.108"><img src="../static/img/facebookLogo.png" class="icon facebookI"></a>

		</div>


<!--navbarItems,about, ect.-->
	</header>



<div class="aboutMe">

<p>Hey there! My name is <strong><span style="color:red">Sam</span></strong>, and I like <span style="color:green">Green Eggs and Ham</span></p>
<p>I'm currently a sophmore at <strong>Columbia University</strong>. I'm studying <strong>computer engineering</strong>.</p>
<p>I'm x days old!</p>

<img src="../static/img/myface.png" class="myface">

</div>

<script>

</script>

<!--School section jump-->
<a name="school"></a>
<!-- School stuff here -->








</body>








</html>





















			<!--
			<ul></ul>

				<li>My name is Samuel Louis Cohen</li>
				<li>I'm currently (Insert an updated age, my birthday is here- and my half birthday is here.
					Or better yet- its been x days since I transfered, x days since I first started coding
					x days since my first programming class
				</li>


				<li>I'm a big soccer fan- favorite clip of a goal</li>

				<li> I'm currently a sophmore at columbia unievrsity in the city of new york
					-some tid bit bullshit about school
				</li>
				<li>
					I love space and robots- show video of grav waves and maybe this is my favorite video of all time- atlas falling and getting up
				</li>


				<li>
					*My geo-political statement (Flag of the world)*

				</li>
		</div>

		-->


		<p>hello</p>





